.masthead-avatar{
	border-radius: 160px !important;
}

.navbar , .footer{
	background: #3f3f3f !important;
}

.copyright{
	background: #202020 !important;
}

.masthead,#about{
	background: #b74f4f !important;
}

.portfolio-item-caption:hover{
	/*background: #c43e3e !important;*/
	background: rgba(196,62,62,0.9) !important;
}


.navbar-toggler:hover{
	background: rgba(196,62,62,0.7) !important;

}

.navbar-toggler{
	
	background: #c43e3e !important;

}

.divider-custom-line{
	background: #3f3f3f !important;
}




.page-section-heading,.divider-custom-icon{
	color: #3f3f3f !important;
}